*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'noto sans';
    font-weight: 400;
    &::before{
        font-family: 'icons';
    }
}

body{
    background-color: #dddddd;
}