header.header
    .header__items  
        a.logo(href="#"): img(src="images/logo-pink.png", alt="")
        button(type="button").menu__btn Subscribe Now!
        button(type="button").menu__btn-burger: span
